<!-- Coded with help from: https://github.com/miguelgrinberg/flask-tables/blob/main/templates/bootstrap_table.html /-->
{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>UserId</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.UserID }}</td>
          <td>{{ user.UserName }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block unassigned %}{% blockend %}